#right_section {
 margin:0 auto;
 float:none;
} 
#graph {
 width: auto;
 height: auto;
}
#left_section {
 margin:0 auto;
 float:none;
 width: 100%;
}
#masthead { width: 90%; margin: 0 auto;}
#masthead nav {
 max-height: 100%;
}
footer { width: 90%; }
#main { width: 90%; margin:0 auto;}
#play_btn {margin: 0 auto; width:50%; height: 50%; top: 20% !important; background-size: 50%;}
#play_btn:hover {margin: 0 auto; width: 50%; height:50%;  top: 20% !important; background-size: 50%;}
@media (min-width: 400px) and (max-width: 670px){
 #logo_text{ line-height:inherit !important; top:20%; position:relative; }
 #masthead nav { padding-right: 0; }
 #masthead nav ul { padding: 0; }
 #left_section { min-height: 460px }
 #play_btn { top:10%; background-size: 50%; max-width: 50%; max-height: 50%; margin: 0 auto; }
 #play_btn:hover {background-size: 50%;}
}
@media (min-width:0px) and (max-width: 400px) {
  #masthead ul li {
    line-height:inherit;
    display:list-item;
  }
  #powered_by { float:left !important; padding-top: 30px;}
  #masthead nav { padding-right: 0; }
  #logo_text { line-height: 100px; }
  #tagline {
   width: 250px;
   margin: 1em auto;
   display: block;
   float: none;
  }
  #phone { margin-top: inherit; }
  #play_btn { top: 10%; max-height: 50%; max-width: 50%; background-size: 50%; margin: 0 auto; }
  #play_btn:hover {background-size: 50%;}
  #masthead > nav  li::before {
    content:""; 
  }
}
